.comment__notification {
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 400px;
    height: 100px;
    background-color: var(--color-white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
