.login {
    height: 100vh;
    position: relative;
}
.login__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    background-color: var(--color-darkmidnightblue);
}

.login__navbar-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-white);
}

.login__navbar-links {
    display: flex;
    gap: 1rem;
}
.login__navbar-link {
    color: var(--color-white);
    font-weight: 600;
    padding-bottom: 0.25rem;
    position: relative;
}
.login__navbar-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-white);
    transition: 0.25s ease-in-out;
}
.login__navbar-link:hover::before {
     width: 100%;
}
.login__navbar-link:hover {
    color: var(--color-white);
}

/*header*/
.login__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 2rem 6rem;
    background-color: var(--color-darkmidnightblue);
}

/*header text*/
.login__header-text-section {
    width: 550px;
}
.login__header-subtext {
    color: var(--color-white);
}
.login__header-greetings {
    font-size: 3rem;
    color: var(--color-white);
}
.login__header-text {
    font-size: 1.15rem;
    line-height: 2rem;
    color: var(--color-white);
}
.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #000;
    animation: typing 3s steps(40) 1s forwards infinite, blink 0.7s step-end infinite !important;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 40%;
    }

    100% {
        width: 80%;
    }
}

@keyframes blink {
    0% {
        border-right-color: transparent;
    }

    50% {
        border-right-color: white;
    }

    70% {
        border-right-color: transparent;
    }
}



/*header image*/
.login__header-image {
    width: 450px;
}
.login__header-image img {
    width: 100%;
}


/*form*/
.login__form {
    position: absolute;
    right: 100px;
    top: 300px;
    width: 500px;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 8px;
    background-color: var(--color-white);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.login__form-logo {
    width: 200px;
}
.login__form-logo img {
    width: 100%;
}
.login__form-sign-title {
    color: var(--color-darkmidnightblue);
    margin-bottom: 1.25rem;
    text-align: center;
}

.login__form-form label {
    font-weight: 600;
    color: var(--color-darkmidnightblue);
}
.login__form-form input, .login__form-submit {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid var(--color-lightGray);
    border-radius: 8px;
    outline: none;
}
.login__form-form input:focus {
    border: 1px solid var(--color-darkmidnightblue);
}
.login__form-error-message {
    color: var(--color-red);
    font-weight: 600;
}
.login__form-form .login__form-forgot-password {
    text-align: right;
    padding: 0.5rem !important;
    font-weight: 600;
}
.login__form-or {
    text-align: center;
    margin: 0.75rem 0 1rem 0;
}
.login__form-submit {
    color: var(--color-white);
    background-color: var(--color-darkmidnightblue);
    position: relative;
    overflow: hidden;
}
.login__form-submit::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -40px;
    width: 75px;
    height: 1px;
    background-color: var(--color-white);
    transition: 0.25s ease-in-out;
}
.login__form-submit:hover::before {
    left: 100%;
}
.login__form-social-media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.login__form-social-media button {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    padding: 0.25rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--color-lightGray);
    outline: none;
    transition: 0.25s ease-in-out;
}

.login__form-social-media button:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.login__form-social-media img {
    width: 30px;
    height: 30px;
}


.login__users-image-list {
    padding: 0 7rem;
    margin-top: -150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login__users-plus {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 1.25rem;
    padding: 0.25rem 1rem;
    border-radius: 12px;
    color: var(--color-darkmidnightblue);
    background-color: var(--color-white);
}

.login__users-image-list img {
    width: 50px;
    height: 50px;
    margin-left: -12px;
    border-radius: 50%;
    border: 3px solid var(--color-lightGray);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}


.login__incident-management-overview {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0 1rem 6rem;
    margin-top: 120px;
}


.login__incident-management-overview-key-objectives-title {
    color: var(--color-darkmidnightblue);
}
.login__incident-management-overview-key-objectives {
    width: 600px;
    background-color: var(--color-whitesmoke);
    padding: 0.5rem 1rem;
}

.login__incident-management-overview-key li {
    margin: 0.5rem 0;
}


