@page "/access-denied"


<div class="access__denied__container">
    <h3 class="access__denied__title"><i class="bi bi-exclamation-circle" /> Access Denied</h3>
    <p class="access__denied__subtitle">You don't have permission to access this page.</p>
</div>

