<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="IncidentManagement.styles.css" />
    <link rel="stylesheet" href="css/Login/login.css" />
    <link rel="stylesheet" href="/css/Sidebar/sidebar.css" />
    <link rel="stylesheet" href="/css/Navbar/navbar.css" />
    <link rel="stylesheet" href="/css/dashboard/dashboard.css" />
    <link rel="stylesheet" href="/css/incidents/incidents.css" />
    <link rel="stylesheet" href="/css/viewincidentdetails/viewincidentdetails.css" />
    <link rel="stylesheet" href="/css/accessdenied/accessdenied.css" />
    <link rel="stylesheet" href="/css/footer/footer.css" />
    <link rel="stylesheet" href="/css/notifications/notifications.css" />
    <link rel="stylesheet" href="/css/modals/newincidentmodal.css" />
    <link rel="stylesheet" href="/css/modals/editincidentmodal.css" />
    <link rel="stylesheet" href="/css/modals/confirmationmodal.css" />
    <link rel="stylesheet" href="/css/troubleshoot/troubleshoot.css" />
    <link rel="stylesheet" href="/css/pagenotfound/pagenotfound.css" />
    <link rel="stylesheet" href="/css/comment/comment.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    @*chart js req ===============>>>>>>>>>>*@
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/chart/overallincidentreport/overallincidentreport.js"></script>
    <script src="/chart/MostIncidentReport/MostIncidentReport.js"></script>

    <!-- Load the JS libraries first (no defer attribute) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Load jsPDF library first -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <!-- Your custom print.js -->
    <script src="/print/print.js"></script>

    <!-- Your custom print.js script -->
    <script src="/print/print.js"></script>
 
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
